* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Inter'; font-size: 16px;
}

.wrapper{
    width:100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myheader {
    height: 30vh;
}

.myform {
    width: 100%;
    height: 150px; 
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
}

#morse-form {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#text-input{
    background-color: #F5F5F5;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter';
    font-size: 16px;
    box-shadow: 0 6px 20px 0 rgba(38, 21, 123, 0.3);
}

#text-input:focus{
    background-color: white;
    outline: 2px solid #D9D9D9;
}

.translation {
    z-index: 2;
    height: 300px;
    background-color: #FAFAFA;
    width:100%;
    overflow: hidden;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.bottom{
    height: 48vh;
    width:100%;
    bottom: 0;
    z-index: 1;
    background-color: #FAFAFA;
    position: absolute;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 10px solid rgba(255, 255, 255, 0.2);
}

#copyright{
    font-family: 'Inter';
    font-size: 12px;
    bottom: 0;
    color:  #D9D9D9;
}

.morse_text {
    color:  #2C2C2C;
}

.audio{
    width: 30vw;
    align-items: center;
}

#morse-title{
    font-family: 'Inter';
    font-size: 25px;
    margin-bottom: 15px;
    color:  #2C2C2C;
}


#audio-player{
    width:30vw;
}

#morse-result {
    text-align: left;
    align-items: left;
    width: 50vw;
    height: 20vh;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    background-color: #FAFAFA;
    padding: 15px;
    font-family: 'Inter';
    font-size: 16px;
}

#morse-result:focus{
    outline:none;
}

.wrapper h1{
    text-align: center;
    color: white;
    font-size: 50px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15px;
    text-shadow: 2px 2px 20px rgba(38, 21, 123, 0.3);
}

.subtitle {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: auto;
    color: white;
}


@keyframes gradient{
    50%{
        transform: scale(1.3)translate(100px);
    }
}


.container {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;    
    overflow: hidden;
}

.box{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: gradient 4s infinite;
    bottom: -150px;
    border-radius: 20%;
}


.box li:nth-child(1){
    height: 100%;
    width: 100%;
    top: -5%;
    left: -10%;
    background-color: #26157B;
}

.box li:nth-child(2){
    height: 80%;
    width: 70%;
    top: -12%;
    right: -12%;
    animation-delay: 2s;
    background-color: #6457A6;
}

.box li:nth-child(3){
    height: 70%;
    width: 75%;
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
    background-color: #76E5FC;
}
    
.box li:nth-child(4){
    height: 85%;
    width: 80%;
    bottom: -15%;
    right: -20%;
    animation-delay: 3s;
    background-color: #F44174;
}

.box li:nth-child(5){
    height: 70%;
    width: 65%;
    bottom: 0;
    right: -50%;
    animation-delay: 1s;
    background-color: #9DACFF;
}

.container::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    backdrop-filter: blur(100px); 
}

#morseCodeOutput {
    font-family: monospace;
    font-size: 20px;
    margin-top: 20px;
    white-space: pre-wrap;
}


 button {
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #2C2C2C;
    color: white;
    border: 3px solid white;
    border-radius: 23px;
    box-shadow: 0 6px 20px 0 rgba(38, 21, 123, 0.3);
}

#button:hover {
    background-color: black;
    transition: 0.4s;
}
