<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse Code Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   
    <div class = "wrapper">
        <div class="myheader">
            <h1>Text to Morse Code Converter</h1>
            <p class="subtitle">Final Project | CS 489: Computational Sound</p>
        </div>
        <div class = "myform">
            <form id="morse-form">
                <input type="text" id="text-input" name="text" placeholder="Enter text here" required>
                <button id="button" type="submit">Convert</button>
            </form>
        </div>
        
    </div>

    <div class="bottom">
        <div class="translation">
            <div class="morse_text">
                <p id="morse-title">Morse Code Translation<p>
                <textarea id="morse-result" style="resize: none;" readonly>Morse code will appear here.</textarea>
                
            </div>
            <div class="audio">
                <audio id="audio-player" controls>
                    Your browser does not support the audio element.
                </audio>
            </div> 
        </div>
        <text id="copyright">© Alara Bulur 2025</text>
    </div>

    <!-- For animated gradient background -->
    <div class="container">
        <ul class="box">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script>
        document.getElementById("morse-form").addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent the default form submission

            const textInput = document.getElementById("text-input").value;

            const formData = new FormData();
            formData.append("text", textInput);

            try {
                // Send the input text to the server
                const response = await fetch("/convert", {
                    method: "POST",
                    body: formData,
                });

                // Parse the response
                const result = await response.json();
                
                // Display the Morse code text
                const morseCodeText = result.morse_code;
                document.getElementById("morse-result").value = morseCodeText;

                // Set the audio source to the returned audio URL
                const audioUrl = result.audio_url;
                const audioPlayer = document.getElementById("audio-player");
                audioPlayer.src = audioUrl;  // Set the source of the audio player
                audioPlayer.style.display = "block"; // Ensure audio player is visible

            } catch (error) {
                console.error("Error:", error);
            }
        });
    </script>
</body>
</html>